In [1]:
import pandas as pd
import numpy as np

In [2]:
import pymysql
from sqlalchemy import create_engine

In [10]:
engine = create_engine('mysql+pymysql://root:1234@localhost/rental_prices')

In [11]:
data_amsterdam= pd.read_sql_query('SELECT * FROM data_amsterdam', engine)
data_utrecht=   pd.read_sql_query('SELECT * FROM data_utrecht', engine)
data_rotterdam= pd.read_sql_query('SELECT * FROM data_rotterdam', engine)

In [13]:
data_utrecht.head()

,index,house_price_utrecht,rental_agency_utrecht,postcode_utrecht,bedrooms_utrecht,surface_utrecht
0,0,2750,Matton Residence,3566MJ,4,151
1,1,800,Prevenda,3582VA,2,30
2,2,1395,Stadsdaemes onroerend goed,3522XR,3,64
3,3,1000,Stienstra,3544KL,3,82
4,4,1725,StartHousing,3531WB,3,83

In [23]:
print(data_utrecht['bedrooms_utrecht'].value_counts().sort_index())

print(data_rotterdam['bedrooms_rotterdam'].value_counts().sort_index())

1     84
2    344
3    166
4     68
5     28
6      4
Name: bedrooms_utrecht, dtype: int64
1    292
2    658
3    808
4    282
5     90
6     20
7      6
Name: bedrooms_rotterdam, dtype: int64

As seen from the above analysis , in Utrecht most listed houses are with TWO bedrooms ,followed by THREE as compared to amsterdam where houses with  3 bedrooms are most listed followed by two .However, in case of  Rotterdam, houses with  both 2 and 3 bedrooms are popular

In [24]:
print(data_utrecht['house_price_utrecht'].describe())
print(data_rotterdam['house_price_rotterdam'].describe())

count     694.000000
mean     1405.760807
std       544.862070
min        75.000000
25%      1056.250000
50%      1350.000000
75%      1675.000000
max      3800.000000
Name: house_price_utrecht, dtype: float64
count    2154.000000
mean     1412.916435
std       600.709120
min       226.000000
25%      1050.000000
50%      1350.000000
75%      1600.000000
max      5500.000000
Name: house_price_rotterdam, dtype: float64

In Utrecht and Rotterdam  Average price of listed house is 1405 euros  and 1412 Euros respectively whereas in Amsterdam is 1981 Euros.Therefore,houses can be rented for less in Utrecht and Rotterdam.That makes Amsterdam an expensive city