In [2]:
import pandas as pd
import numpy as np

In [14]:
data_amsterdam = pd.read_csv(("../data/rental_data_amsterdam_final.csv"),index_col=0)
data_utrecht = pd.read_csv(("../data/rental_data_utrecht_final.csv"),index_col=0)
data_rotterdam = pd.read_csv(("../data/rental_data_rotterdam_final.csv"),index_col=0)

In [15]:
data_amsterdam.head()
data_utrecht.head()
data_rotterdam.head()

,house_price_rotterdam,rental_agency_rotterdam,postcode_rotterdam,bedrooms_rotterdam,surface_rotterdam
0,2400.0,ViaDaan,3039CP,5,91
1,935.0,Rental Rotterdam,3061GT,2,50
2,600.0,Rental Rotterdam,3062GL,1,20
3,1500.0,Rental Rotterdam,3021ZA,3,76
4,1950.0,Tweelwonen.nl Rotterdam,3011TA,4,136

In [ ]:
#renaming amsterdam columns
data_amsterdam.columns=['house_price_amsterdam', 'rental_agency_amsterdam', 'postcode_amsterdam', 'bedrooms_amsterdam', 'surface_amsterdam']
data_amsterdam.head()

In [ ]:
#renaming utrecht columns
data_utrecht.columns=['house_price_utrecht', 'rental_agency_utrecht', 'postcode_utrecht', 'bedrooms_utrecht', 'surface_utrecht']
data_utrecht.head()

In [ ]:
#renaming rotterdam columns
data_rotterdam.columns=['house_price_rotterdam', 'rental_agency_rotterdam', 'postcode_rotterdam', 'bedrooms_rotterdam', 'surface_rotterdam']
data_rotterdam.head()

In [ ]:
data_amsterdam.to_csv("rental_data_amsterdam_final.csv",index="false")

In [ ]:
data_utrecht.to_csv("rental_data_utrecht_final.csv",index="false")

In [ ]:
data_rotterdam.to_csv("rental_data_rotterdam_final.csv",index="false")